html{
    box-sizing: border-box;
    font-family: 'Roboto';
}

*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    height: 100vh;
    width: 100vw;
}

#content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-frame{
    height: 75vh;
    width: 30vw;
    background-color: rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex-wrap: wrap;
    border-radius: 10px;
}

#calculator-display{
    height: 12%;
    background-color: rgb(200, 231, 220);
    display: flex;
    font-size: 25px;
    align-items: center;
    margin-bottom: 10%;
    padding: 2px;
    justify-content: end;
}

#calculator-keyboard{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
}

#calculator-keyboard button{
    flex: 1 0 22%;
    height: auto;
    font-size: 25px;
    color: white;
    background-color: rgb(71, 71, 71);
    border: rgba(207, 207, 207, 0.089) 1px solid;
}

#calculator-keyboard button:hover{
    font-weight: bold;
    color: rgb(200, 231, 220);
}